<div class="row">
    <div *ngFor="let gif of resultados" 
         class="col-md-4 col-sm-6 animate__animated animate__fadeIn animate__slow">
            <div 
                class="card">
                <a href="https://i.giphy.com/media/{{gif.id}}/giphy.webp" target="_blank">
                    <img [src]="gif.images.downsized_medium.url" 
                         [alt]="gif.title"
                         class="card-image-top"
                         width="420"
                         >
                    </a>
                <div 
                    class="card-body">
                    <p class="card-text">
                        {{gif.title}}
                    </p>
                </div>
            </div>
    </div>
</div>